language: php
php:
  - 7.1
  - 7.2
env:
  matrix:
    - PREFER_LOWEST=""
    - PREFER_LOWEST="--prefer-lowest"
before_script:
  - composer self-update
  - composer install --prefer-source $PREFER_LOWEST
script:
  - ./vendor/bin/phpunit
